<div class="slider-area">
  <div class="slider">
    <div id="bg-slider" class="owl-carousel owl-theme">

      <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
      <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
      <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>

    </div>
  </div>
  <div class="slider-content">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
        <h2>Property Searching Just Got So Easy</h2>
        <p>Getting the list of properties after entering the criteria like budget, size of apartment, city and see the
          actual location of the property and also compare the various properties listed in that area as per their
          location.</p>
        <div class="search-form wow pulse" data-wow-delay="0.8s">

          <form name="myform" class=" form-inline" (ngSubmit)="onSubmit()">
            <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>
            <div class="form-group">
              <input type="text" [(ngModel)]="searchCriteria.keyword" name="keyword" class="form-control"
                     placeholder="Keyword">
            </div>
            <div class="form-group">
              <select id="city" [(ngModel)]="searchCriteria.city" name="city"
                      class="selectpicker" data-live-search="true" data-live-search-style="begins"
                      title="Select your city">

                <option>Pune</option>
                <option>Mumbai</option>
                <option>Nagpur</option>
                <option>Kolhapur</option>
                <option>Satara</option>
                <option>Solapur</option>
              </select>
            </div>
            <div class="form-group">
              <select id="propertyFor" [(ngModel)]="searchCriteria.propertyFor" name="propertyFor"
                      class="selectpicker show-tick form-control" title="For">
                <option>Girl</option>
                <option>Boy</option>
                <option>Family</option>
              </select>
            </div>

            <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>


            <div style="display: none;" class="search-toggle">

              <div class="search-row">

                <div class="form-group mar-r-20">
                  <label>Price range (₹):</label>

                  <nouislider name="priceRange" [connect]="true" [min]="1000" [max]="60000" [step]="50"
                              [tooltips]="[false, false]" [(ngModel)]="searchCriteria.priceRange"
                              (ngModelChange)="onChange($event)"></nouislider>
                  <b class="pull-left color">₹ {{searchCriteria.priceRange[0]}}</b>
                  <b class="pull-right color">₹ {{searchCriteria.priceRange[1]}}</b>

                </div>


                <!-- End of  -->
                <div class="form-group mar-r-20">
                  <label>Nearby Busstop (m2):</label>

                  <nouislider name="nearByBusstop" [connect]="true" [min]="100" [max]="5000" [step]="50"
                              [tooltips]="[false, false]" [(ngModel)]="searchCriteria.nearByBusstop"
                              (ngModelChange)="onChange($event)"></nouislider>
                  <b class="pull-left color">{{searchCriteria.nearByBusstop[0]}}m</b>
                  <b class="pull-right color">{{searchCriteria.nearByBusstop[1]}}m</b>

                </div>

              </div>

              <div class="search-row">

                <div class="form-group mar-r-20">
                  <label>Nearby Shop (m2):</label>

                  <nouislider name="nearByShop" [connect]="true" [min]="100" [max]="5000" [step]="50"
                              [tooltips]="[false, false]" [(ngModel)]="searchCriteria.nearByShop"
                              (ngModelChange)="onChange($event)"></nouislider>
                  <b class="pull-left color">{{searchCriteria.nearByShop[0]}}m</b>
                  <b class="pull-right color">{{searchCriteria.nearByShop[1]}}m</b>
                </div>

                <div class="form-group mar-r-20">
                  <label>Nearby Hospotal (m2):</label>

                  <nouislider name="nearByHospital" [connect]="true" [min]="100" [max]="5000" [step]="50"
                              [tooltips]="[false, false]" [(ngModel)]="searchCriteria.nearByHospital"
                              (ngModelChange)="onChange($event)"></nouislider>
                  <b class="pull-left color">{{searchCriteria.nearByHospital[0]}}m</b>
                  <b class="pull-right color">{{searchCriteria.nearByHospital[1]}}m</b>
                </div>
              </div>
              <br>
              <div class="search-row">

                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isCarParking" name="isCarParking"
                           [(ngModel)]="searchCriteria.isCarParking"/>
                    <label for="isCarParking"> Car Parking</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isTwoWheelerParking" name="isTwoWheelerParking"
                           [(ngModel)]="searchCriteria.isTwoWheelerParking"/>
                    <label for="isTwoWheelerParking"> 2 Wheeler Parking</label>
                  </div>
                </div>
                <!-- End of  -->
                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isStrictlyVeg" name="isStrictlyVeg"
                           [(ngModel)]="searchCriteria.isStrictlyVeg"/>
                    <label for="isStrictlyVeg"> Strictly Veg</label>
                  </div>
                </div>
                <!-- End of  -->
              </div>

              <div class="search-row">

                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isSecurity" name="isSecurity"
                           [(ngModel)]="searchCriteria.isSecurity"/>
                    <label for="isSecurity"> Security</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isLift" name="isLift"
                           [(ngModel)]="searchCriteria.isLift"/>
                    <label for="isLift"> Lift</label>
                  </div>
                </div>
                <!-- End of  -->
                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isAc" name="isAc"
                           [(ngModel)]="searchCriteria.isAc"/>
                    <label for="isAc"> Air Condition</label>
                  </div>
                </div>
                <!-- End of  -->
              </div>

              <div class="search-row">
                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isAttachedBathroom" name="isAttachedBathroom"
                           [(ngModel)]="searchCriteria.isAttachedBathroom"/>
                    <label for="isAttachedBathroom"> Attached Bathroom</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isJogPath" name="isJogPath"
                           [(ngModel)]="searchCriteria.isJogPath"/>
                    <label for="isJogPath"> Jog Path</label>
                  </div>
                </div>
                <!-- End of  -->
                <div class="form-group">
                  <div class="icheck-sunflower">
                    <input type="checkbox" id="isGym" name="isGym"
                           [(ngModel)]="searchCriteria.isGym"/>
                    <label for="isGym"> Gym</label>
                  </div>
                </div>
                <!-- End of  -->
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- property area -->
<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>Top submitted property</h2>
        <p>In a fast-developing city such as Pune, Wagholi is exactly the location for those looking for a quiet life
          and open spaces</p>
      </div>
    </div>

    <div class="row">
      <div class="proerty-th">
        <div *ngFor="let propertyItem of topProperties" class="col-sm-6 col-md-3 p0">
          <div class="box-two proerty-item">
            <div class="item-thumb">
              <a href="/propertydetail/{{propertyItem.id}}"><img src="assets/img/demo/property-1.jpg"></a>
            </div>
            <div class="item-entry overflow">
              <h5><a href="property-1.html">Super nice villa </a></h5>
              <div class="dot-hr"></div>
              <span class="pull-left"><b>Area :</b> 120m </span>
              <span class="proerty-price pull-right">$ 300,000</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Welcome area -->
<div class="Welcome-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 Welcome-entry  col-sm-12">
        <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
          <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>GARO ESTATE </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="row">
              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-home pe-4x"></i>
                  </div>
                  <h3>Any property</h3>
                </div>
              </div>
              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-users pe-4x"></i>
                  </div>
                  <h3>More Clients</h3>
                </div>
              </div>


              <div class="col-xs-12 text-center">
                <i class="welcome-circle"></i>
              </div>

              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-notebook pe-4x"></i>
                  </div>
                  <h3>Easy to use</h3>
                </div>
              </div>
              <div class="col-xs-6 m-padding">
                <div class="welcome-estate">
                  <div class="welcome-icon">
                    <i class="pe-7s-help2 pe-4x"></i>
                  </div>
                  <h3>Any help </h3>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--TESTIMONIALS -->
<div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>Our Customers Said </h2>
      </div>
    </div>

    <div class="row">
      <div class="row testimonial">
        <div class="col-md-12">
          <div id="testimonial-slider">
            <div class="item">
              <div class="client-text">
                <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
              </div>
              <div class="client-face wow fadeInRight" data-wow-delay=".9s">
                <img src="assets/img/client-face1.png" alt="">
              </div>
            </div>
            <div class="item">
              <div class="client-text">
                <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
              </div>
              <div class="client-face">
                <img src="assets/img/client-face2.png" alt="">
              </div>
            </div>
            <div class="item">
              <div class="client-text">
                <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
              </div>
              <div class="client-face">
                <img src="assets/img/client-face1.png" alt="">
              </div>
            </div>
            <div class="item">
              <div class="client-text">
                <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
              </div>
              <div class="client-face">
                <img src="assets/img/client-face2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Count area -->
<div class="count-area">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>You can trust Us </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-users"></span>
              </div>
              <div class="chart" data-percent="5000">
                <h2 class="percent" id="counter">0</h2>
                <h5>HAPPY CUSTOMER </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-home"></span>
              </div>
              <div class="chart" data-percent="12000">
                <h2 class="percent" id="counter1">0</h2>
                <h5>Properties in stock</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-flag"></span>
              </div>
              <div class="chart" data-percent="120">
                <h2 class="percent" id="counter2">0</h2>
                <h5>City registered </h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="count-item">
              <div class="count-item-circle">
                <span class="pe-7s-graph2"></span>
              </div>
              <div class="chart" data-percent="5000">
                <h2 class="percent" id="counter3">5000</h2>
                <h5>DEALER BRANCHES</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- boy-sale area -->
<div class="boy-sale-area">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
        <div class="asks-first">
          <div class="asks-first-circle">
            <span class="fa fa-search"></span>
          </div>
          <div class="asks-first-info">
            <h2>ARE YOU LOOKING FOR A Property?</h2>
            <p> varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa</p>
          </div>
          <div class="asks-first-arrow">
            <a href="properties.html"><span class="fa fa-angle-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
        <div class="asks-first">
          <div class="asks-first-circle">
            <span class="fa fa-usd"></span>
          </div>
          <div class="asks-first-info">
            <h2>DO YOU WANT TO SELL A Property?</h2>
            <p> varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa</p>
          </div>
          <div class="asks-first-arrow">
            <a href="properties.html"><span class="fa fa-angle-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <p class="asks-call">QUESTIONS? CALL US : <span class="strong"> + 3-123- 424-5700</span></p>
      </div>
    </div>
  </div>
</div>
