<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">List Layout With Sidebar</h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row">
      <div class="col-md-9 padding-top-40 properties-page">
        <div class="section clear">
          <div class="col-xs-10 page-subheader sorting pl0">
            <ul class="sort-by-list">
              <li class="active">
                <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                  Property Date <i class="fa fa-sort-amount-asc"></i>
                </a>
              </li>
              <li class="">
                <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                  Property Price <i class="fa fa-sort-numeric-desc"></i>
                </a>
              </li>
            </ul><!--/ .sort-by-list-->
            <div class="items-per-page">
              <label for="items_per_page"><b>Property per page :</b></label>
              <div class="sel">
                <select id="items_per_page" name="per_page">
                  <option value="3">3</option>
                  <option value="6">6</option>
                  <option value="9">9</option>
                  <option selected="selected" value="12">12</option>
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="45">45</option>
                  <option value="60">60</option>
                </select>
              </div><!--/ .sel-->
            </div><!--/ .items-per-page-->
          </div>

          <div class="col-xs-2 layout-switcher">
            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
          </div><!--/ .layout-switcher-->
        </div>

        <div class="section clear">
          <div id="list-type" class="proerty-th">
            <div class="col-sm-6 col-md-4 p0"  *ngFor="let propertyItem of dataList">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="/propertydetail/{{propertyItem.id}}" ><img src="assets/img/demo/property-3.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="/propertydetail/{{propertyItem.id}}"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <!--<div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-2.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-1.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-3.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-1.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-2.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-3.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-2.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 p0">
              <div class="box-two proerty-item">
                <div class="item-thumb">
                  <a href="property-1.html" ><img src="assets/img/demo/property-1.jpg"></a>
                </div>

                <div class="item-entry overflow">
                  <h5><a href="property-1.html"> Super nice villa </a></h5>
                  <div class="dot-hr"></div>
                  <span class="pull-left"><b> Area :</b> 120m </span>
                  <span class="proerty-price pull-right"> $ 300,000</span>
                  <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                  <div class="property-icon">
                    <img src="assets/img/icon/bed.png">(5)|
                    <img src="assets/img/icon/shawer.png">(2)|
                    <img src="assets/img/icon/cars.png">(1)
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
        <div class="section">
          <div class="pull-right">
            <div class="pagination">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 pl0 padding-top-40">
        <div class="blog-asside-right pl0">
          <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
            <div class="panel-heading">
              <h3 class="panel-title">Smart search</h3>
            </div>
            <div class="panel-body search-widget">
              <form name="properties"(ngSubmit)="onSubmit()" class=" form-inline">
                <fieldset>
                  <div class="row">
                    <div class="col-xs-12">
                      <input type="text" class="form-control" placeholder="Keyword">
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="row">
                    <div class="col-xs-6" style="padding-right: 1px">

                      <select id="lunchBegins" class="selectpicker show-tick form-control" title="Select Your City">

                        <option selected>Pune</option>
                        <option>Mumbai</option>
                        <option>Nagpur</option>
                        <option>Kolhapur</option>
                        <option>Satara</option>
                        <option>Solapur</option>
                      </select>
                    </div>
                    <div class="col-xs-6" style="padding-left: 1px">

                      <select id="basic" class="selectpicker show-tick form-control">
                        <option> -Status- </option>
                        <option>Girl</option>
                        <option>Boy</option>
                        <option>Family</option>

                      </select>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <label>Price range (₹):</label>
                      <nouislider name="priceRange" [connect]="true" [min]="1000" [max]="60000" [step]="50"
                                  [tooltips]="[false, false]" [(ngModel)]="searchCriteria.priceRange"
                                  (ngModelChange)="onChange($event)"></nouislider>
                      <b class="pull-left color">₹ {{searchCriteria.priceRange[0]}}</b>
                      <b class="pull-right color">₹ {{searchCriteria.priceRange[1]}}</b>
                    </div>
                    <div class="col-xs-6">

                      <label>Nearby Bus (m2):</label>

                      <nouislider name="nearByBusstop" [connect]="true" [min]="100" [max]="5000" [step]="50"
                                  [tooltips]="[false, false]" [(ngModel)]="searchCriteria.nearByBusstop"
                                  (ngModelChange)="onChange($event)"></nouislider>
                      <b class="pull-left color">{{searchCriteria.nearByBusstop[0]}}m</b>
                      <b class="pull-right color">{{searchCriteria.nearByBusstop[1]}}m</b>

                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <label>Nearby Shop (m2):</label>

                      <nouislider name="nearByShop" [connect]="true" [min]="100" [max]="5000" [step]="50"
                                  [tooltips]="[false, false]" [(ngModel)]="searchCriteria.nearByShop"
                                  (ngModelChange)="onChange($event)"></nouislider>
                      <b class="pull-left color">{{searchCriteria.nearByShop[0]}}m</b>
                      <b class="pull-right color">{{searchCriteria.nearByShop[1]}}m</b>
                    </div>

                    <div class="col-xs-6">
                      <label>Nearby Hosp (m2):</label>

                      <nouislider name="nearByHospital" [connect]="true" [min]="100" [max]="5000" [step]="50"
                                  [tooltips]="[false, false]" [(ngModel)]="searchCriteria.nearByHospital"
                                  (ngModelChange)="onChange($event)"></nouislider>
                      <b class="pull-left color">{{searchCriteria.nearByHospital[0]}}m</b>
                      <b class="pull-right color">{{searchCriteria.nearByHospital[1]}}m</b>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isCarParking" name="isCarParking"
                               [(ngModel)]="searchCriteria.isCarParking"/>
                        <label for="isCarParking"> Car Parking</label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isTwoWheelerParking" name="isTwoWheelerParking"
                               [(ngModel)]="searchCriteria.isTwoWheelerParking"/>
                        <label for="isTwoWheelerParking"> 2 Wheel Park</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isStrictlyVeg" name="isStrictlyVeg"
                               [(ngModel)]="searchCriteria.isStrictlyVeg"/>
                        <label for="isStrictlyVeg"> Strictly Veg</label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isSecurity" name="isSecurity"
                               [(ngModel)]="searchCriteria.isSecurity"/>
                        <label for="isSecurity"> Security</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isLift" name="isLift"
                               [(ngModel)]="searchCriteria.isLift"/>
                        <label for="isLift"> Lift</label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isAc" name="isAc"
                               [(ngModel)]="searchCriteria.isAc"/>
                        <label for="isAc"> Air Condition</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isAttachedBathroom" name="isAttachedBathroom"
                               [(ngModel)]="searchCriteria.isAttachedBathroom"/>
                        <label for="isAttachedBathroom"> Attach Bath</label>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isJogPath" name="isJogPath"
                               [(ngModel)]="searchCriteria.isJogPath"/>
                        <label for="isJogPath"> Jog Path</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset class="padding-5">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="icheck-sunflower">
                        <input type="checkbox" id="isGym" name="isGym"
                               [(ngModel)]="searchCriteria.isGym"/>
                        <label for="isGym"> Gym</label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset >
                  <div class="row">
                    <div class="col-xs-12">
                      <input class="button btn largesearch-btn" value="Search" type="submit">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="panel panel-default sidebar-menu wow fadeInRight animated">
            <div class="panel-heading">
              <h3 class="panel-title">Recommended</h3>
            </div>
            <div class="panel-body recent-property-widget">
              <ul>
                <li *ngFor="let propertyItem of dataList">
                  <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                    <a href="/propertydetail/{{propertyItem.id}}"><img src="assets/img/demo/small-property-2.jpg"></a>
                    <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                    <h6> <a href="single.html">Super nice villa </a></h6>
                    <span class="property-price">3000000$</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
