
/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";
@import '../node_modules/icheck-bootstrap/icheck-bootstrap.css';
.noUi-connect {
  background: #fdc600;
}


.noUi-tooltip {
  display: block;
  position: absolute;
  border: 0px solid #D9D9D9;
  border-radius: 3px;
  background: transparent;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: -120%;
}
